.navContainer{
  background-color:#f0f0f0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.navbar {
  font-family: 'Arial', sans-serif; /* Change font family as needed */
}

.nav-link {
  color: #333; /* Change color as needed */
  margin-right: 15px; /* Adjust spacing between links */
}

.nav-link:hover {
  color: #555; /* Change color on hover */
}
.margin{
  margin-right:0px;
}
@media (max-width: 768px) {
  .nav-link {
    margin-right: 0;
    margin-bottom: 10px; /* Adjust spacing for smaller screens */
    display: block;
  }
}

.size{
  width:50px;
  height:40px;
}

@media (min-width: 769px) and (max-width: 1200px){
  .margin{
   
    margin-left:auto;
  }
}

@media (min-width: 1200px) {
  .margin{
    margin-left:auto;
  }
}


.joinButton{
  background-color:black;
  color:white;
  font-size:10px;
  height:40px;
  width:80px;
}

