/* index.css */

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .item p {
    margin: 5px 0;
  }
  
  .item p.name {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .item p.marks {
    font-family: 'Arial', sans-serif;
    color: #666;
    font-size: 16px;
  }
  
  @media screen and (min-width: 768px) {
    .item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
  
    .item img {
      max-width: 200px;
      margin-right: 20px;
    }
  
    .item p {
      margin: 0;
    }
  
    .item p.name {
      font-size: 24px;
    }
  
    .item p.marks {
      font-size: 20px;
    }
  }
  