.container2 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:40px;
    margin-bottom:40px;
  }
  .action-btn{
    margin-top:10px;
  }
  .card {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .click-btn{
    width:80px;
  }
  .footerBut{
    width:70px;
  }
  .FooterCon{
    display:flex;
    flex-direction:row;
  }
  .checkout-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .total {
    margin: 0;
    font-size: 20px;
  }
  .click-btn{
    margin-top:10px;
  }
  .checkout-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    width:140px;
  }
  
  .checkout-btn:hover {
    background-color: #0056b3;
  }
  
  .info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    margin: 0;
    font-size:20px;
  }