.header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .classes-list {
    list-style: none;
    padding-right:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

  }
  
  .classes-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
.para{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-bottom:20px;
}